USE [master]
GO
/****** Object:  Database [BaseGestionBebidasMF]    Script Date: 8/3/2026 00:43:12 ******/
CREATE DATABASE [BaseGestionBebidasMF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseGestionBebidasMF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaseGestionBebidasMF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseGestionBebidasMF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BaseGestionBebidasMF_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseGestionBebidasMF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseGestionBebidasMF]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Entidad] [nvarchar](100) NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[DVH] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NULL,
	[Zona] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[Tabla] [nvarchar](50) NOT NULL,
	[DVV] [decimal](38, 0) NOT NULL,
 CONSTRAINT [PK__DigitoVe__80FC60E749CE240B] PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroLote] [nvarchar](50) NULL,
	[FechaIngreso] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[Cantidad] [int] NULL,
	[ProductoId] [int] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[EsPadre] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoPermiso]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoPermiso](
	[IdPermisoPadre] [int] NOT NULL,
	[IdPermisoHijo] [int] NOT NULL,
 CONSTRAINT [PK_PermisoPermiso] PRIMARY KEY CLUSTERED 
(
	[IdPermisoPadre] ASC,
	[IdPermisoHijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoHistorial]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoHistorial](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[CategoriaId] [int] NULL,
	[Precio] [decimal](18, 2) NULL,
	[LitrosPorUnidad] [float] NULL,
	[Stock] [int] NULL,
	[Activo] [bit] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Accion] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[LitrosPorUnidad] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[DVH] [decimal](38, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraduccionT]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraduccionT](
	[IdIdioma] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
	[Traduccion] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TraduccionT_1] PRIMARY KEY CLUSTERED 
(
	[IdIdioma] ASC,
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[IdUsuario] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](512) NOT NULL,
	[Salt] [nvarchar](100) NOT NULL,
	[Idioma] [nvarchar](10) NOT NULL,
	[Activo] [bit] NOT NULL,
	[DVH] [decimal](38, 0) NULL,
 CONSTRAINT [PK__Usuarios__3214EC07B9B25E20] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ClienteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaRegistro], [Entidad], [Accion], [Detalle], [DVH]) VALUES (1, 7, CAST(N'2025-07-11T23:27:54.3920891' AS DateTime2), N'Producto', N'INSERT', N'Antes: null; Después: SheridansMuestra - 50L - $10', NULL)
INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaRegistro], [Entidad], [Accion], [Detalle], [DVH]) VALUES (2, 7, CAST(N'2025-07-11T23:30:26.5303388' AS DateTime2), N'Usuario', N'INSERT', N'Antes: null; Después: BE.Usuario', NULL)
INSERT [dbo].[Bitacora] ([Id], [UsuarioId], [FechaRegistro], [Entidad], [Accion], [Detalle], [DVH]) VALUES (3, 7, CAST(N'2025-07-11T23:58:12.4462195' AS DateTime2), N'Producto', N'INSERT', N'Antes: null; Después: testBitacora - 500L - $450', NULL)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Alcohólica')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'No Alcohólica')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [NombreCompleto], [Zona]) VALUES (1, N'Juan Pérez', N'Centro')
INSERT [dbo].[Clientes] ([Id], [NombreCompleto], [Zona]) VALUES (2, N'María González', N'Norte')
INSERT [dbo].[Clientes] ([Id], [NombreCompleto], [Zona]) VALUES (3, N'Carlos López', N'Sur')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (1, 4, 2, 10, CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (2, 4, 3, 5, CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVentas] ([Id], [VentaId], [ProductoId], [Cantidad], [PrecioUnitario]) VALUES (3, 5, 4, 20, CAST(2500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
INSERT [dbo].[DigitoVerificador] ([Tabla], [DVV]) VALUES (N'Productos', CAST(1567371314 AS Decimal(38, 0)))
INSERT [dbo].[DigitoVerificador] ([Tabla], [DVV]) VALUES (N'Usuarios', CAST(2021454356 AS Decimal(38, 0)))
GO
SET IDENTITY_INSERT [dbo].[Idiomas] ON 

INSERT [dbo].[Idiomas] ([Id], [Codigo], [Nombre]) VALUES (1, N'es', N'Español')
INSERT [dbo].[Idiomas] ([Id], [Codigo], [Nombre]) VALUES (2, N'en', N'Inglés')
INSERT [dbo].[Idiomas] ([Id], [Codigo], [Nombre]) VALUES (5, N'fr', N'Francés')
SET IDENTITY_INSERT [dbo].[Idiomas] OFF
GO
SET IDENTITY_INSERT [dbo].[Lote] ON 

INSERT [dbo].[Lote] ([Id], [NumeroLote], [FechaIngreso], [FechaVencimiento], [Cantidad], [ProductoId], [Activo]) VALUES (1, N'1090', CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), 2, 19, 1)
INSERT [dbo].[Lote] ([Id], [NumeroLote], [FechaIngreso], [FechaVencimiento], [Cantidad], [ProductoId], [Activo]) VALUES (2, N'1010', CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), 10, 20, 1)
INSERT [dbo].[Lote] ([Id], [NumeroLote], [FechaIngreso], [FechaVencimiento], [Cantidad], [ProductoId], [Activo]) VALUES (3, N'2020', CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), 25, 19, 1)
SET IDENTITY_INSERT [dbo].[Lote] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre], [EsPadre]) VALUES (6, N'Realizar Venta', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [EsPadre]) VALUES (8, N'Cancelar Venta', 0)
INSERT [dbo].[Permiso] ([Id], [Nombre], [EsPadre]) VALUES (9, N'Alta Usuario', 0)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PermisoPermiso] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (51, 45)
INSERT [dbo].[PermisoPermiso] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (51, 46)
INSERT [dbo].[PermisoPermiso] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (51, 47)
GO
SET IDENTITY_INSERT [dbo].[ProductoHistorial] ON 

INSERT [dbo].[ProductoHistorial] ([IdHistorial], [IdProducto], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [Fecha], [Accion]) VALUES (1, 4, N'Coca Cola', 2, CAST(2500.00 AS Decimal(18, 2)), 1.5, 130, 1, CAST(N'2026-03-07T00:56:40.380' AS DateTime), N'Modificar')
INSERT [dbo].[ProductoHistorial] ([IdHistorial], [IdProducto], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [Fecha], [Accion]) VALUES (2, 5, N'Agua Mineral', 2, CAST(1000.00 AS Decimal(18, 2)), 1, 140, 1, CAST(N'2026-03-07T00:57:53.063' AS DateTime), N'Modificar')
INSERT [dbo].[ProductoHistorial] ([IdHistorial], [IdProducto], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [Fecha], [Accion]) VALUES (3, 24, N'AguaPichon', 2, CAST(5000.00 AS Decimal(18, 2)), 2, 20, 1, CAST(N'2026-03-07T22:13:09.870' AS DateTime), N'Modificar')
SET IDENTITY_INSERT [dbo].[ProductoHistorial] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [DVH]) VALUES (2, N'Cerveza Quilmes', 1, CAST(2500.00 AS Decimal(10, 2)), 1, 90, 1, CAST(8722236159256708968 AS Decimal(38, 0)))
INSERT [dbo].[Productos] ([Id], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [DVH]) VALUES (3, N'Vino Malbec', 1, CAST(5000.00 AS Decimal(10, 2)), 0.75, 30, 1, CAST(5116574739206051686 AS Decimal(38, 0)))
INSERT [dbo].[Productos] ([Id], [Nombre], [CategoriaId], [Precio], [LitrosPorUnidad], [Stock], [Activo], [DVH]) VALUES (4, N'Coca Cola', 2, CAST(2500.00 AS Decimal(10, 2)), 1.5, 130, 1, CAST(5424785771654567310 AS Decimal(38, 0)))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Tag] ([Id], [Nombre]) VALUES (0, N'lblUsuario')
INSERT [dbo].[Tag] ([Id], [Nombre]) VALUES (1, N'lblPassword')
INSERT [dbo].[Tag] ([Id], [Nombre]) VALUES (2, N'btnLogin')
GO
INSERT [dbo].[TraduccionT] ([IdIdioma], [IdTag], [Traduccion]) VALUES (1, 0, N'Usuario')
INSERT [dbo].[TraduccionT] ([IdIdioma], [IdTag], [Traduccion]) VALUES (1, 1, N'Contraseña')
INSERT [dbo].[TraduccionT] ([IdIdioma], [IdTag], [Traduccion]) VALUES (1, 2, N'Iniciar Sesión')
GO
INSERT [dbo].[Usuario_Permiso] ([IdUsuario], [IdPermiso]) VALUES (7, 62)
INSERT [dbo].[Usuario_Permiso] ([IdUsuario], [IdPermiso]) VALUES (35, 64)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Salt], [Idioma], [Activo], [DVH]) VALUES (7, N'admin', N'yK3Yexd3D+GfJqdizhQW0Y4vVmCzeNzL7XR95iO7M8CY+6ql7gtyDxQ+4qINTwo3Yyh9BYePcxIxVKWdArQ/KQ==', N'56f27d37-740d-458b-b1ae-f652f4fec731', N'es', 1, CAST(3510380924299723335 AS Decimal(38, 0)))
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Salt], [Idioma], [Activo], [DVH]) VALUES (8, N'carlitos', N'YnOA2n6y1YkuBlxbrEah6u0AsJ9z85wI+49vU575+vlLWWcbVRLe0BW7dS7MTR2wIuUNojKtNEMTy+gVzFp/eQ==', N'078d55a4-7ca3-4d53-a4ef-f6c3e448cd10', N'es', 1, CAST(3172448433085823171 AS Decimal(38, 0)))
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Salt], [Idioma], [Activo], [DVH]) VALUES (14, N'tevez', N'NaoPENDfDw5+0dps6/2RXsLqgw9TTlmP+5GrCSVFROH56bxJamWKizBDqrHrFpmGqtKAgyHMT5Mh4zz4NferXg==', N'66ff1d83-85bd-4a2c-adc2-a2b042705196', N'es', 1, CAST(1447654833182644699 AS Decimal(38, 0)))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [Fecha], [UsuarioId], [ClienteId]) VALUES (4, CAST(N'2025-11-06T00:08:31.380' AS DateTime), 7, NULL)
INSERT [dbo].[Ventas] ([Id], [Fecha], [UsuarioId], [ClienteId]) VALUES (5, CAST(N'2025-11-06T22:25:41.413' AS DateTime), 7, NULL)
INSERT [dbo].[Ventas] ([Id], [Fecha], [UsuarioId], [ClienteId]) VALUES (6, CAST(N'2025-11-06T22:25:57.550' AS DateTime), 7, NULL)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Idiomas_Codigo]    Script Date: 8/3/2026 00:43:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Idiomas_Codigo] ON [dbo].[Idiomas]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Permiso_Nombre]    Script Date: 8/3/2026 00:43:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Permiso_Nombre] ON [dbo].[Permiso]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductoHistorial_IdProd_Fecha]    Script Date: 8/3/2026 00:43:13 ******/
CREATE NONCLUSTERED INDEX [IX_ProductoHistorial_IdProd_Fecha] ON [dbo].[ProductoHistorial]
(
	[IdProducto] ASC,
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0BEAA38E3]    Script Date: 8/3/2026 00:43:13 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__6B0F5AE0BEAA38E3] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Permiso] ADD  CONSTRAINT [DF_Permiso_EsPadre]  DEFAULT ((0)) FOR [EsPadre]
GO
ALTER TABLE [dbo].[ProductoHistorial] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Idioma__7D439ABD]  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[PermisoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_PermisoPermiso_Hijo] FOREIGN KEY([IdPermisoHijo])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[PermisoPermiso] CHECK CONSTRAINT [FK_PermisoPermiso_Hijo]
GO
ALTER TABLE [dbo].[PermisoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_PermisoPermiso_Padre] FOREIGN KEY([IdPermisoPadre])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[PermisoPermiso] CHECK CONSTRAINT [FK_PermisoPermiso_Padre]
GO
ALTER TABLE [dbo].[ProductoHistorial]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductoHistorial_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[ProductoHistorial] CHECK CONSTRAINT [FK_ProductoHistorial_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[TraduccionT]  WITH CHECK ADD  CONSTRAINT [FK_TraduccionT_Idiomas] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idiomas] ([Id])
GO
ALTER TABLE [dbo].[TraduccionT] CHECK CONSTRAINT [FK_TraduccionT_Idiomas]
GO
ALTER TABLE [dbo].[TraduccionT]  WITH CHECK ADD  CONSTRAINT [FK_TraduccionT_Tag] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[TraduccionT] CHECK CONSTRAINT [FK_TraduccionT_Tag]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Permiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Permiso]
GO
ALTER TABLE [dbo].[Usuario_Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permiso_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Permiso] CHECK CONSTRAINT [FK_Usuario_Permiso_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_IdiomaCodigo] FOREIGN KEY([Idioma])
REFERENCES [dbo].[Idiomas] ([Codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_IdiomaCodigo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuarios_Idiomas] FOREIGN KEY([Idioma])
REFERENCES [dbo].[Idiomas] ([Codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Idiomas]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK__Ventas__UsuarioI__5BE2A6F2] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK__Ventas__UsuarioI__5BE2A6F2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 8/3/2026 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Precio DECIMAL(18,2),
    @LitrosPorUnidad DECIMAL(18,2),
    @Stock INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Productos
    SET Nombre = @Nombre,
        Precio = @Precio,
        LitrosPorUnidad = @LitrosPorUnidad,
        Stock = @Stock
    WHERE Id = @Id AND Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @Nombre NVARCHAR(200),
    @CategoriaId INT,
    @Precio DECIMAL(18,2),
    @LitrosPorUnidad FLOAT,
    @Stock INT,
    @DVH DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        INSERT INTO dbo.Productos (Nombre, CategoriaId, Precio, LitrosPorUnidad, Stock, Activo, DVH)
        VALUES (@Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, 1, @DVH);
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_BajaLogicaProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BajaLogicaProducto]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        UPDATE dbo.Productos
        SET Activo = 0
        WHERE Id = @Id;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Bitacora_Buscar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Bitacora_Buscar]
    @Desde DATETIME = NULL,
    @Hasta DATETIME = NULL,
    @Usuario NVARCHAR(100) = NULL,
    @Accion NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT b.Id,
               b.UsuarioId,
               u.NombreUsuario,
               b.FechaRegistro,
               b.Entidad,
               b.Accion,
               b.Detalle
        FROM dbo.Bitacora b
        INNER JOIN dbo.Usuarios u ON b.UsuarioId = u.Id
        WHERE (@Desde IS NULL OR b.FechaRegistro >= @Desde)
          AND (@Hasta IS NULL OR b.FechaRegistro <= @Hasta)
          AND (@Usuario IS NULL OR u.NombreUsuario LIKE '%' + @Usuario + '%')
          AND (@Accion IS NULL OR b.Accion LIKE '%' + @Accion + '%')
        ORDER BY b.FechaRegistro DESC;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Bitacora_Insertar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Bitacora_Insertar]
    @UsuarioId INT = NULL,
    @FechaRegistro DATETIME,
    @Entidad NVARCHAR(100) = NULL,
    @Accion NVARCHAR(100) = NULL,
    @Detalle NVARCHAR(4000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        INSERT INTO dbo.Bitacora (UsuarioId, FechaRegistro, Entidad, Accion, Detalle)
        VALUES (@UsuarioId, @FechaRegistro, @Entidad, @Accion, @Detalle);
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularDVH_Productos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalcularDVH_Productos]
AS
BEGIN
    DECLARE 
        @Id INT,
        @Nombre NVARCHAR(100),
        @CategoriaId INT,
        @Precio DECIMAL(10,2),
        @LitrosPorUnidad FLOAT,
        @Stock INT,
        @Activo BIT

    DECLARE cur CURSOR FOR
        SELECT Id, Nombre, CategoriaId, Precio, LitrosPorUnidad, Stock, Activo
        FROM Productos

    OPEN cur

    FETCH NEXT FROM cur INTO @Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Armar cadena como en C#
        DECLARE @Concatenado NVARCHAR(MAX)
        SET @Concatenado = CONCAT(@Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo)

        -- Calcular hash (simulando lógica C#)
        DECLARE @Hash VARBINARY(64) = HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @Concatenado))
        DECLARE @DVH BIGINT = ABS(CONVERT(BIGINT, SUBSTRING(@Hash, 1, 8)))

        -- Guardar DVH
        UPDATE Productos
        SET DVH = @DVH
        WHERE Id = @Id

        FETCH NEXT FROM cur INTO @Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo
    END

    CLOSE cur
    DEALLOCATE cur

    -- Actualizar el DVV
    EXEC sp_RecalcularDVV 'Productos'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Categorias_Listar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Categorias_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Id, Nombre FROM dbo.Categorias ORDER BY Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Clientes_ListarZonas]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Clientes_ListarZonas]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT DISTINCT Zona FROM Clientes;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DetalleVentas_Upsert]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetalleVentas_Upsert]
    @VentaId INT,
    @ProductoId INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM DetalleVentas WHERE VentaId = @VentaId AND ProductoId = @ProductoId)
            UPDATE DetalleVentas
            SET Cantidad = Cantidad + @Cantidad,
                PrecioUnitario = @PrecioUnitario
            WHERE VentaId = @VentaId AND ProductoId = @ProductoId;
        ELSE
            INSERT INTO DetalleVentas (VentaId, ProductoId, Cantidad, PrecioUnitario)
            VALUES (@VentaId, @ProductoId, @Cantidad, @PrecioUnitario);
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Productos
    SET Activo = 0
    WHERE Id = @Id AND Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Idiomas_Listar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Idiomas_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Codigo, Nombre FROM Idiomas ORDER BY Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
    @Nombre NVARCHAR(100),
    @Precio DECIMAL(18,2),
    @LitrosPorUnidad DECIMAL(18,2),
    @Stock INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Productos (Nombre, Precio, LitrosPorUnidad, Stock, Activo)
    VALUES (@Nombre, @Precio, @LitrosPorUnidad, @Stock, 1);

    SELECT SCOPE_IDENTITY() AS NuevoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Id,
               Nombre,
               CategoriaId,
               Precio,
               LitrosPorUnidad,
               Stock,
               Activo,
               DVH
        FROM dbo.Productos;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lote_ActualizarStockProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Lote_ActualizarStockProducto]
    @ProductoId INT,
    @Stock INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Productos SET Stock = @Stock WHERE Id = @ProductoId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lote_Agregar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Lote_Agregar]
    @NumeroLote NVARCHAR(50),
    @FechaIngreso DATETIME,
    @FechaVencimiento DATETIME,
    @Cantidad INT,
    @ProductoId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Lote (NumeroLote, FechaIngreso, FechaVencimiento, Cantidad, ProductoId)
        VALUES (@NumeroLote, @FechaIngreso, @FechaVencimiento, @Cantidad, @ProductoId);
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lote_CalcularStockTotal]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Lote_CalcularStockTotal]
    @ProductoId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT ISNULL(SUM(Cantidad),0) AS StockTotal
        FROM Lote
        WHERE ProductoId = @ProductoId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lote_Eliminar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Lote_Eliminar]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM Lote WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Lote_ListarPorProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Lote_ListarPorProducto]
    @ProductoId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Id, NumeroLote, FechaIngreso, FechaVencimiento, Cantidad, ProductoId
        FROM Lote
        WHERE ProductoId = @ProductoId
        ORDER BY FechaVencimiento ASC;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProducto]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarProducto]
    @Id INT,
    @Nombre NVARCHAR(200),
    @CategoriaId INT,
    @Precio DECIMAL(18,2),
    @LitrosPorUnidad FLOAT,
    @Stock INT,
    @DVH DECIMAL(38,0)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        UPDATE dbo.Productos
        SET Nombre = @Nombre,
            CategoriaId = @CategoriaId,
            Precio = @Precio,
            LitrosPorUnidad = @LitrosPorUnidad,
            Stock = @Stock,
            DVH = @DVH
        WHERE Id = @Id;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductoPorId]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductoPorId]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Id,
               Nombre,
               CategoriaId,
               Precio,
               LitrosPorUnidad,
               Stock,
               Activo,
               DVH
        FROM dbo.Productos
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductosActivos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductosActivos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Nombre, Precio, LitrosPorUnidad, Stock, DVH
    FROM Productos
    WHERE Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Permiso_AgregarSimple]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Permiso_AgregarSimple]
    @IdPermisoPadre INT,
    @NombreSimple NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @IdHijo INT;
    IF EXISTS (SELECT 1 FROM dbo.Permiso WHERE Nombre=@NombreSimple)
    BEGIN
        SELECT @IdHijo = Id FROM dbo.Permiso WHERE Nombre=@NombreSimple;
        UPDATE dbo.Permiso SET EsPadre=0 WHERE Id=@IdHijo;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Permiso(Nombre, EsPadre) VALUES(@NombreSimple, 0);
        SET @IdHijo = SCOPE_IDENTITY();
    END
    IF NOT EXISTS (SELECT 1 FROM dbo.PermisoPermiso WHERE IdPermisoPadre=@IdPermisoPadre AND IdPermisoHijo=@IdHijo)
        INSERT INTO dbo.PermisoPermiso(IdPermisoPadre, IdPermisoHijo) VALUES(@IdPermisoPadre, @IdHijo);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Permiso_AgregarSubgrupo]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Permiso_AgregarSubgrupo]
    @IdPermisoPadre INT,
    @NombreSubgrupo NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdHijo INT;

    IF EXISTS (SELECT 1 FROM dbo.Permiso WHERE Nombre=@NombreSubgrupo)
    BEGIN
        SELECT @IdHijo = Id FROM dbo.Permiso WHERE Nombre=@NombreSubgrupo;
        UPDATE dbo.Permiso SET EsPadre=1 WHERE Id=@IdHijo;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Permiso(Nombre, EsPadre) VALUES(@NombreSubgrupo, 1);
        SET @IdHijo = SCOPE_IDENTITY();
    END

    DECLARE @TieneCiclo BIT = 0;

    ;WITH rec AS (
        SELECT IdPermisoPadre, IdPermisoHijo
        FROM dbo.PermisoPermiso
        WHERE IdPermisoPadre = @IdHijo
        UNION ALL
        SELECT p.IdPermisoPadre, p.IdPermisoHijo
        FROM dbo.PermisoPermiso p
        JOIN rec r ON p.IdPermisoPadre = r.IdPermisoHijo
    )
    SELECT TOP 1 @TieneCiclo = 1
    FROM rec
    WHERE IdPermisoHijo = @IdPermisoPadre;

    IF (@TieneCiclo = 1)
    BEGIN
        RAISERROR('Asignación inválida: crearía un ciclo', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.PermisoPermiso
        WHERE IdPermisoPadre=@IdPermisoPadre AND IdPermisoHijo=@IdHijo
    )
    BEGIN
        INSERT INTO dbo.PermisoPermiso(IdPermisoPadre, IdPermisoHijo)
        VALUES(@IdPermisoPadre, @IdHijo);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Permiso_CrearGrupo]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Permiso_CrearGrupo]
    @Nombre NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Id INT;
    IF EXISTS (SELECT 1 FROM dbo.Permiso WHERE Nombre=@Nombre)
    BEGIN
        SELECT @Id = Id FROM dbo.Permiso WHERE Nombre=@Nombre;
        UPDATE dbo.Permiso SET EsPadre=1 WHERE Id=@Id;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Permiso(Nombre, EsPadre) VALUES(@Nombre, 1);
        SET @Id = SCOPE_IDENTITY();
    END
    SELECT @Id AS Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Permiso_ObtenerRelaciones]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Permiso_ObtenerRelaciones]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT IdPermisoPadre, IdPermisoHijo FROM dbo.PermisoPermiso;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Permiso_ObtenerTodos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Permiso_ObtenerTodos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nombre, EsPadre FROM dbo.Permiso;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Productos_DescontarStock]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Productos_DescontarStock]
    @ProductoId INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @stock INT;
        SELECT @stock = Stock FROM Productos WHERE Id = @ProductoId;
        IF (@stock IS NULL) RAISERROR('Producto inexistente', 16, 1);
        IF (@stock < @Cantidad) RAISERROR('Stock insuficiente', 16, 1);
        UPDATE Productos SET Stock = Stock - @Cantidad WHERE Id = @ProductoId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Productos_Listar_IdNombre]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Productos_Listar_IdNombre]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT Id, Nombre FROM Productos WHERE Activo = 1 ORDER BY Nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RecalcularDVV]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RecalcularDVV]
    @Tabla NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @SumaDVH DECIMAL(38, 0);

    -- Construye la consulta dinámica
    SET @SQL = 'SELECT @Resultado = SUM(DVH) FROM ' + QUOTENAME(@Tabla);

    -- Ejecuta la consulta dinámica para obtener la suma
    EXEC sp_executesql
        @SQL,
        N'@Resultado DECIMAL(38, 0) OUTPUT',
        @Resultado = @SumaDVH OUTPUT;

    -- Inserta o actualiza en la tabla DigitoVerificador
    IF EXISTS (SELECT 1 FROM DigitoVerificador WHERE Tabla = @Tabla)
    BEGIN
        UPDATE DigitoVerificador
        SET DVV = @SumaDVH
        WHERE Tabla = @Tabla;
    END
    ELSE
    BEGIN
        INSERT INTO DigitoVerificador (Tabla, DVV)
        VALUES (@Tabla, @SumaDVH);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Reporte_Ventas]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Reporte_Ventas]
    @Zona NVARCHAR(100) = NULL,
    @ProductoId INT = NULL,
    @Fecha DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT v.Fecha, dv.Cantidad, p.Nombre AS Producto, c.NombreCompleto AS Cliente, c.Zona
        FROM Ventas v
        INNER JOIN DetalleVentas dv ON dv.VentaId = v.Id
        INNER JOIN Productos p ON dv.ProductoId = p.Id
        INNER JOIN Clientes c ON v.ClienteId = c.Id
        WHERE (@Zona IS NULL OR c.Zona = @Zona)
          AND (@ProductoId IS NULL OR p.Id = @ProductoId)
          AND (@Fecha IS NULL OR CONVERT(DATE, v.Fecha) = @Fecha);
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Traducciones_PorCodigo]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Traducciones_PorCodigo]
    @Codigo NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT t.Nombre AS Tag, tr.Traduccion
        FROM TraduccionT tr
        JOIN Tag t ON tr.IdTag = t.Id
        JOIN Idiomas i ON tr.IdIdioma = i.Id
        WHERE i.Codigo = @Codigo;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_BajaLogica]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario_BajaLogica]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        UPDATE dbo.Usuarios
        SET Activo = 0
        WHERE Id = @Id;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_GuardarIdioma]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario_GuardarIdioma]
    @IdUsuario INT,
    @Idioma NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;
        UPDATE dbo.Usuarios
        SET Idioma = @Idioma
        WHERE Id = @IdUsuario;
        COMMIT;
    END TRY
    BEGIN CATCH
        IF (XACT_STATE() <> 0) ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Insertar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Usuario_Insertar]
  @NombreUsuario NVARCHAR(100),
  @Contraseña NVARCHAR(200),
  @Salt NVARCHAR(50),
  @Idioma NVARCHAR(10),
  @Activo BIT,
  @DVH DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  INSERT INTO dbo.Usuarios (NombreUsuario, Contraseña, Salt, Idioma, Activo, DVH)
  VALUES (@NombreUsuario, @Contraseña, @Salt, @Idioma, @Activo, @DVH);
  SELECT CAST(SCOPE_IDENTITY() AS INT) AS IdGenerado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_Modificar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Usuario_Modificar]
  @Id INT,
  @NombreUsuario NVARCHAR(100),
  @Contraseña NVARCHAR(200),
  @Salt NVARCHAR(50) = NULL,
  @Idioma NVARCHAR(10),
  @Activo BIT,
  @DVH DECIMAL(18,2)
AS
BEGIN
  SET NOCOUNT ON;
  UPDATE dbo.Usuarios
  SET NombreUsuario=@NombreUsuario,
      Contraseña=@Contraseña,
      Salt=@Salt,
      Idioma=@Idioma,
      Activo=@Activo,
      DVH=@DVH
  WHERE Id=@Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_ObtenerPorNombre]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Usuario_ObtenerPorNombre]
  @NombreUsuario NVARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT Id, NombreUsuario, Contraseña, Salt, Idioma, Activo, DVH
  FROM dbo.Usuarios
  WHERE NombreUsuario=@NombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario_ObtenerTodos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Usuario_ObtenerTodos]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT Id, NombreUsuario, Contraseña, Salt, Idioma, Activo, DVH
  FROM dbo.Usuarios;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Ventas_Insertar]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Ventas_Insertar]
    @Fecha DATETIME,
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO Ventas (Fecha, UsuarioId) VALUES (@Fecha, @UsuarioId);
        SELECT CAST(SCOPE_IDENTITY() AS INT) AS VentaId;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000)=ERROR_MESSAGE(), @ErrSeverity INT=ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarIntegridadProductos]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerificarIntegridadProductos]
AS
BEGIN
    SET NOCOUNT ON;

    CREATE TABLE #Errores (
        IdProducto INT,
        Nombre NVARCHAR(100),
        DVH_Original DECIMAL(38,0),
        DVH_Recalculado DECIMAL(38,0),
        Observacion NVARCHAR(200)
    );

    DECLARE @Id INT, @Nombre NVARCHAR(100), @CategoriaId INT,
            @Precio DECIMAL(18,2), @LitrosPorUnidad FLOAT, @Stock INT, @Activo BIT,
            @Concatenado NVARCHAR(MAX),
            @Hash VARBINARY(64),
            @DVH_Recalc BIGINT, @DVH_Orig DECIMAL(38,0);

    DECLARE cur CURSOR FOR
        SELECT Id, Nombre, CategoriaId, Precio, LitrosPorUnidad, Stock, Activo, DVH
        FROM Productos;

    OPEN cur;
    FETCH NEXT FROM cur INTO @Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo, @DVH_Orig;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @Concatenado = CONCAT(@Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo);
        SET @Hash = HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @Concatenado));
        SET @DVH_Recalc = ABS(CONVERT(BIGINT, SUBSTRING(@Hash, 1, 8)));

        IF @DVH_Recalc != @DVH_Orig
        BEGIN
            INSERT INTO #Errores(IdProducto, Nombre, DVH_Original, DVH_Recalculado, Observacion)
            VALUES(@Id, @Nombre, @DVH_Orig, @DVH_Recalc, 'DVH no coincide');
        END

        FETCH NEXT FROM cur INTO @Id, @Nombre, @CategoriaId, @Precio, @LitrosPorUnidad, @Stock, @Activo, @DVH_Orig;
    END

    CLOSE cur;
    DEALLOCATE cur;

    DECLARE @SumaDVH DECIMAL(38,0);
    DECLARE @DVV_Almacenado DECIMAL(38,0);
    DECLARE @Observacion NVARCHAR(200);

    SELECT @SumaDVH = SUM(DVH) FROM Productos;
    SELECT @DVV_Almacenado = DVV FROM DigitoVerificador WHERE Tabla = 'Productos';

    IF @SumaDVH != @DVV_Almacenado
    BEGIN
        SET @Observacion = 'DVV no coincide: Suma DVH=' + CAST(@SumaDVH AS NVARCHAR(50))
                         + ', DVV almacenado=' + CAST(@DVV_Almacenado AS NVARCHAR(50));

        INSERT INTO #Errores(IdProducto, Nombre, DVH_Original, DVH_Recalculado, Observacion)
        VALUES(NULL, NULL, NULL, NULL, @Observacion);
    END

    SELECT * FROM #Errores;

    DROP TABLE #Errores;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarIntegridadUsuarios]    Script Date: 8/3/2026 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VerificarIntegridadUsuarios]
AS
BEGIN
    CREATE TABLE #Errores (
        IdUsuario INT,
        Nombre NVARCHAR(100),
        DVH_Original DECIMAL(38,0),
        DVH_Recalculado DECIMAL(38,0),
        Observacion NVARCHAR(255)
    );

    DECLARE @Id INT, 
            @NombreUsuario NVARCHAR(50), 
            @Contraseña NVARCHAR(512), 
            @Salt NVARCHAR(100), 
            @RolId INT, 
            @Idioma NVARCHAR(10), 
            @Activo BIT,
            @DVH DECIMAL(38,0), 
            @DVH_Calculado DECIMAL(38,0);

    DECLARE cur CURSOR FOR
        SELECT Id, NombreUsuario, Contraseña, Salt, RolId, Idioma, Activo, DVH FROM Usuarios;

    OPEN cur;
    FETCH NEXT FROM cur INTO @Id, @NombreUsuario, @Contraseña, @Salt, @RolId, @Idioma, @Activo, @DVH;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @Concatenado NVARCHAR(MAX) = CONCAT(@Id, @NombreUsuario, @Contraseña, @Salt, @RolId, @Idioma, @Activo);
        DECLARE @Hash VARBINARY(64) = HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @Concatenado));
        SET @DVH_Calculado = ABS(CONVERT(BIGINT, SUBSTRING(@Hash, 1, 8)));

        IF @DVH_Calculado <> @DVH
        BEGIN
            INSERT INTO #Errores VALUES (@Id, @NombreUsuario, @DVH, @DVH_Calculado, 'DVH no coincide');
        END

        FETCH NEXT FROM cur INTO @Id, @NombreUsuario, @Contraseña, @Salt, @RolId, @Idioma, @Activo, @DVH;
    END

    CLOSE cur;
    DEALLOCATE cur;

    -- Verificación del DVV
    DECLARE @SumaDVH DECIMAL(38,0);
    SELECT @SumaDVH = SUM(DVH) FROM Usuarios;

    DECLARE @DVV DECIMAL(38,0);
    SELECT @DVV = DVV FROM DigitoVerificador WHERE Tabla = 'Usuarios';

    IF @SumaDVH <> @DVV
    BEGIN
        INSERT INTO #Errores VALUES (NULL, NULL, NULL, NULL,
            'DVV no coincide. Suma DVH=' + CAST(@SumaDVH AS NVARCHAR) +
            ', DVV almacenado=' + CAST(@DVV AS NVARCHAR));
    END

    SELECT * FROM #Errores;
    DROP TABLE #Errores;
END
GO
USE [master]
GO
